<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:h1th="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Registration</title>
</head>
<body>
<header id="header" class="alt" th:include="navbar :: navbar(nameOfUser=${nameOfUser})" />
    <div class="container">
        <div class="row">
            <div class="col-4" style="text-align: center">
                <img width="240" height="440" th:src="@{'/img/' + ${book.getBookCover()}}"/>
            </div>
            <div class="col-8" style="border: 1px solid rgba(102,102,102,0.61); padding-top: 5px">
                <div class="row">
                    <div class="col-8">
                        <h2 class="card-title" th:text="${book.getTitle()}"></h2>
                        <p><h5 class="card-text" th:text="${book.getAuthor().getFirstName()}+' '+${book.getAuthor().getLastName()}"></h5></p>
                        <p class="card-text"><small class="text-muted" th:text="'Data wydania: '+${book.getReleaseDate()}"></small></p>
                        <p class="card-text" th:text="${book.getDescription()}"></p>
                    </div>
                    <div class="col-4">
                    <div style="border: 1px solid rgba(102,102,102,0.61)">
                        <h5 th:text="'Book rate: '+${averagerates}"></h5>
                        <div th:if="${not nameOfUser.equals('anonymousUser')}">
                        <form th:method="post" th:action="@{/rate/{id}(id=${book.getId()})}" th:object="${rateObj}">
                            <select th:field="*{value}" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option value="0" disabled >Choose rate...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                <option value="4">Four</option>
                                <option value="5">Five</option>
                            </select>
                            <button class="btn" type="submit">Dodaj ocenę</button>
                        </form>
                        </div>
                        <div th:if="${nameOfUser.equals('anonymousUser')}" style="color: darkred"> You must be logged to rate book</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col"></div>
            <div class="col-6" style="text-align: center" >
                <div th:if="${not nameOfUser.equals('anonymousUser')}">
            <form th:method="post" th:action="@{/comment/{id}(id=${book.getId()})}" th:object="${commentObj}">
                <textarea type="textarea" id="content" name="content" class="form-control" placeholder="Write your comment here" th:field="*{content}" rows="3"></textarea>
                <div style="text-align: right"><button type="submit" class="btn" style="margin: 10px">Add comment</button></div>
            </form>
                </div>
                <div th:if="${nameOfUser.equals('anonymousUser')}" style="color: darkred"> You must be logged to add comment </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8" style="text-align: center">
            <div th:if="${not #lists.isEmpty(comments)}">
                <div th:each="comment : ${comments}">
                        <div class="card" style="margin: 20px">
                            <div class="card-header" style="text-align: left">
                            <b th:text="${comment.getUser().getFirstName() +' '+ comment.getUser().getLastName()}"></b>
                            </div>
                            <div class="card-body">
                                <p class="card-text" th:text="${comment.content}"></p>
                                <p><small th:text="${comment.getDate()}"></small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>


    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>